* {
  background-color: #000000;
  font-family: Verdana;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 50px;

}

h2 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 42px;
}

.main_article {
  color: Gray;
  font-size: 21px;
}

.downloadlink {
  color: Aquamarine;
  text-align: center;
  font-size: 16px;
}

.video {
  display: block;
  margin: 0 auto;
}
